@charset "UTF-8";

/* font family を google font サイトから取ってくる */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

/* 変数を入れる */
:root {
  --color-main: #505050;
  --font-bg: #0D96A0;
  --border-color: #707070;
}

/* --------------------------
base
-------------------------- */

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  word-break: break-all;
  font-size: 10px;
}
body {
  font-family: "Noto Sans JP", sans-serif;;
  font-weight: 700;
  color: var(--color-main);
  font-size: 1.8rem;
  line-height: calc(33 / 18);
  letter-spacing: 0;
}

/* --------------------------
common
-------------------------- */
/* PC、 SPの非表示 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}
#container {
	width: 100%;
	overflow: hidden;
}
.inner {
  max-width: 88rem;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .inner{
    padding-inline: 2rem;
  }
}
.icon {
  width: 2.549rem;
  height: 2.5rem;
  display: block;
}
.bg-color {
  background-color: rgb(13, 150, 160, 0.1);
}
.catch {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: calc(20 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .catch {
    column-gap: calc(20 / 375 * 100vw);
  }
}
.catch h2 {
  font-size: 2.5rem;
  line-height: calc(36 / 25);
}

/* header */
.header {
  position: fixed;
  z-index: 999;
  background-color: #FFF;
  width: 100%;
  padding-inline: 3rem;
}
@media (max-width: 767px) {
  .header {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .header h1 {
    font-size: 2rem;
    line-height: calc(33 / 20);
  }
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  display: flex;
  align-items: center;
  padding-block: 0.8rem 0.9rem;
  transition: opacity 0.4s;
}
.header__logo a:hover {
  opacity: 0.7;
}
.header__logo .icon {
  margin-right: 0.95rem;
}
.header__nav-item a {
  display: block;
  height: 5rem;
  padding-block: 1.8rem;
  font-size: 1.4rem;
  line-height: calc(14 / 14);
  transition: opacity 0.4s;
}
.header__nav-item a:hover {
  opacity: 0.7;
}
.header__nav-list {
  display: flex;
  column-gap: 1rem;
}

/* fv */
.fv {
  position: relative;
  padding-top: 5rem;
}
.fv__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 6.3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .fv__contents{
    align-items: end;
    bottom: 0;
  }
}
.fv__contents-textarea {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 2.3rem 3.5rem 2.3rem calc(99 / 1080 * 100vw);
}
@media (max-width: 767px) {
  .fv__contents-textarea{
    padding: 1.8rem 2.3rem 1.4rem 2rem;
  }
}
.fv__text {
  font-size: calc(25 / 1080 * 100vw);
  line-height: calc(36 / 25);
  color: var(--color-main);
}
@media (max-width: 767px) {
  .fv__text{
    font-size: 2rem;
    line-height: calc(29 / 20);
  }
}
.fv__title {
  font-size: calc(40 / 1080 * 100vw);
  line-height: calc(60 / 40);
  color: var(--font-bg);
}
@media (max-width: 767px) {
  .fv__title {
    font-size: 3rem;
    line-height: calc(40 / 30);
  }
}
.fv__title span {
  display: block;
}
.fv__title-main {
  padding-top: 0.8rem;
}

/* ご挨拶 greeting */
.greeting {
  text-align: center;
  position: relative;
  padding: 6rem 3rem;
  max-width: 108rem;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .greeting{
    padding: 4.9rem 2rem 3.9rem;
  }
}
.greeting__catch h2 {
  font-size: 3rem;
  line-height: calc(50 / 30);
  color: var(--font-bg);
}
@media (max-width: 767px) {
  .greeting__catch h2 {
    font-size: 2.5rem;
    line-height: calc(35 / 25);
  }
}
.greeting__text {
  font-size: calc(18 / 1080 * 100vw);
  line-height: calc(33 / 18);
  font-weight: 500;
  padding-top: 1.5rem;
}
@media (max-width: 767px) {
  .greeting__text {
    text-align: left;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    padding-top: 1.7rem;
  }
}
.greeting__image {
  width: 8.4rem;
  height: 7.7rem;
  position: absolute;
  right: 7.7rem;
  bottom: 3.3rem;
}
@media (max-width: 767px) {
  .greeting__image {
    width: 6.8rem;
    height: 6.2rem;
    right: 3rem;
    bottom: 4.6rem;
  }
}

/* 強み about */
.about {
  padding: 6.4rem 3rem 6.8rem;
}
@media (max-width: 767px) {
  .about {
    padding: 5.1rem 0 3.5rem;
  }
}
.about__contents {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}
@media (max-width: 767px) {
  .about__contents {
    margin-top: 4.2rem;
    row-gap: 4.2rem;
  }
}
.about__contents-image {
  width: calc(440 / 880 * 100%);
  left: 50%;
}
@media (max-width: 767px) {
  .about__contents-image {
    width: 100%;
  }
}
.about__contents-image img {
  aspect-ratio: 440 / 247;
  object-fit: cover;
}
@media (max-width: 767px) {
  .about__contents-image img {
    width: 100%;
    aspect-ratio: 335 / 200;
  }
}
.img-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  column-gap: calc(45 / 880 * 100%);
}
@media (max-width: 767px) {
  .img-right {
    flex-direction: column;
  }
}
.img-right .about__contents-text {
  flex: 1;
}
.img-left {
  display: flex;
  align-items: center;
  column-gap: calc(45 / 880 * 100%);
}
@media (max-width: 767px) {
  .img-left {
    flex-direction: column;
  }
}
.img-left .about__contents-text {
  flex: 1;
}
@media (max-width: 767px) {
  .img-left .about__contents-text {
    padding-left: 0;
  }
}
.about__contents-text {
  width: 44rem;
  right: 50%;
}
@media (max-width: 767px) {
  .about__contents-text {
    width: 100%;
  }
}
.about__contents-text h3 {
  font-size: 2.2rem;
  line-height: calc(33 / 22);
}
@media (max-width: 767px) {
  .about__contents-text h3 {
    font-size: 2rem;
    line-height: calc(30 / 20);
    margin-top: 2.6rem;
    text-align: center;
  }
}
.about__contents-text p {
  padding-top: 1.9rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .about__contents-text p {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    padding-top: 0.8rem;
  }
}

@media (min-width: 400px) {
  .about-sp {
    display: none;
  }
}

/* サービス service */
.service {
  padding: 6.3rem 3rem 5.9rem;
}
@media (max-width: 767px) {
  .service {
    padding: 4.5rem 0 3.9rem;
  }
}
.service__contents {
  margin-top: 4.8rem;
  display: flex;
  column-gap: calc(50 / 880 * 100%);
  justify-content: center;
}
@media (max-width: 767px) {
  .service__contents {
    margin-top: 4.4rem;
    flex-direction: column;
    row-gap: 3.9rem;
  }
}
.service__contents-image img {
  aspect-ratio: 260 / 200;
  object-fit: cover;
}
@media (max-width: 767px) {
  .service__contents-image img {
    aspect-ratio: 335 / 200;
  }
}
.service__contents-textarea h3 {
  text-align: center;
  padding-top: 1.9rem;
  font-size: 2rem;
  line-height: calc(25 / 20);
}
@media (max-width: 767px) {
  .service__contents-textarea h3 {
    padding-top: 3rem;
    line-height: calc(30 / 20);
  }
}
.service__contents-textarea p {
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  padding-top: 0.8rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .service__contents-textarea p {
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    padding-top: 0.7rem;
  }
}

/* お知らせ news */
.news {
  padding: 6.3rem 3rem 6.7rem;
}
@media (max-width: 767px) {
  .news {
    padding: 4.3rem 0 4.9rem;
  }
}
.news__contents {
  margin-top: 4.6rem;
}
.news__contents-list {
  border-bottom: 1px solid var(--border-color);
}
.news__contents-item {
  border-top: 1px solid var(--border-color);
}
.news__contents-item a {
  display: flex;
  padding: 1.4rem 2rem 1.5rem;
  align-items: center;
  column-gap: calc(25 / 880 * 100%);
  transition: opacity 0.4s;
}
@media (max-width: 767px) {
  .news__contents-item a {
    flex-direction: column;
    align-items: start;
    padding: 2.7rem 1rem 2.8rem;
  }
}
.news__contents-item a:hover {
  cursor: pointer;
  opacity: 0.7;
}
.news__contents-item time {
  font-size:  1.7rem;
  line-height: calc(25 / 17);
}
.news__contents-item h3 {
  font-size: 2rem;
  line-height: calc(25 / 20);
  color: var(--font-bg);
  width: 18.4rem;
}
@media (max-width: 767px) {
  .news__contents-item h3 {
    padding-top: 0.2rem;
  }
}
.news__contents-item p {
  flex: 1;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  font-weight: 500;
}
@media (max-width: 767px) {
  .news__contents-item p {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    padding-top: 0.6rem;
  }
}

/* アクセス */
.access {
  padding: 6.3rem 3rem 7rem;
}
@media (max-width: 767px) {
  .access {
    padding: 4.3rem 0 5rem;
  }
}
.access__contents {
  display: flex;
  justify-content: center;
  margin-top: 4.6rem;
  column-gap: calc(46 / 880 * 100%);
}
@media (max-width: 767px) {
  .access__contents {
    flex-direction: column;
  }
}
.access__contents-map {
  width: 50%;
  aspect-ratio: 440 / 300;
}
@media (max-width: 767px) {
  .access__contents-map {
    width: 100%;
  }
}
.access__contents-map iframe {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}
.access-textarea {
  flex: 1;
}
@media (max-width: 767px) {
  .access-textarea {
    margin-top: 2.3rem;
  }
}
.access-textarea__title h3 {
  font-size: 2.2rem;
  line-height: calc(33 / 22);
}
/* @media (max-width: 767px) {
  .access-textarea__title h3 {
    padding-top: 3rem;
  }
} */
.access-textarea__address p {
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  padding-top: 1.5rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .access-textarea__address p {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    padding-top: 1.2rem;
  }
}
.access-textarea__address span,
.access-textarea__mail span {
  display: inline-block;
}
.access-textarea__tel p {
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  padding-top: 1.4rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .access-textarea__tel p {
    font-size: 1.6rem;
    line-height: calc(27 / 16);
    padding-top: 0.6rem;
  }
}
.access-textarea__tel p a {
  font-size: 2.5rem;
  line-height: calc(40 / 25);
  font-weight: 700;
  display: inline-block;
  color: var(--font-bg);
  transition: opacity 0.4s;
}
@media (min-width: 768px) {
  .access-textarea__tel p a {
    pointer-events: none;
    cursor: default;
  }
}
@media (max-width: 767px) {
  .access-textarea__tel p a {
    padding-left: 0.2rem;
  }
}
.access-textarea__tel p a:hover {
  opacity: 0.7;
}

.access-textarea__mail p {
  font-size: 1.8rem;
  line-height: calc(27 / 18);
  padding-top: 0.8rem;
}
@media (max-width: 767px) {
  .access-textarea__mail p {
    font-size: 1.6rem;
    line-height: calc(24 / 16);
    padding-top: 0.7rem;
  }
}
.access-textarea__mail a {
  transition: opacity 0.4s;
}
.access-textarea__mail a:hover {
  opacity: 0.7;
}
.access-textarea__reception {
  border-top: solid 1px var(--border-color);
  border-bottom: solid 1px var(--border-color);
  padding-block: 1.4rem 1.3rem;
  margin-top: 2.7rem;
  padding-left: 0.4rem;
}
@media (max-width: 767px) {
  .access-textarea__reception {
    padding-block: 1.1rem;
    padding-left: 0;
    margin-top: 1.7rem;
  }
}
.access-textarea__reception p{
  font-size: 1.8rem;
  line-height: calc(40 / 18);
  font-weight: 500;
}
@media (max-width: 767px) {
  .access-textarea__reception p{
    font-size: 1.6rem;
    line-height: calc(30 / 16);
  }
}

/* お問い合わせ */
.contact {
  padding: 6.2rem 3rem 8rem;
}
@media (max-width: 767px) {
  .contact {
    padding: 4.3rem 0 5rem;
  }
}
.contact__text {
  text-align: center;
  padding-top: 2.5rem;
  font-size: 1.7rem;
  line-height: calc(30 / 17);
  font-weight: 500;
}
@media (max-width: 767px) {
  .contact__text {
    padding-top: 4.3rem;
    text-align: left;
    font-size: 1.6rem;
    line-height: calc(30 / 16);
    display: flex;
    justify-content: center;
  }
}
.form {
  margin-top: 3.9rem;
}
@media (max-width: 767px) {
  .form {
    margin-top: 3.4rem;
  }
}
.form__area {
  display: flex;
}
@media (max-width: 767px) {
  .form__area {
    flex-direction: column;
    row-gap: 0.2rem;
  }
}
.form__area:not(:first-of-type) {
  padding-top: 3rem;
}
@media (max-width: 767px) {
  .form__area:not(:first-of-type) {
    padding-top: 1.7rem;
  }
}
.form__area dt {
  width: 16.9rem;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: calc(33 / 20);
}
@media (max-width: 767px) {
  .form__area dt {
    width: 100%;
    height: initial;
    font-size: 1.8rem;
    line-height: calc(33 / 18);
  }
}
.form__area dd {
  flex: 1;
}
.form__control {
  height: 4rem;
  width: 100%;
  font-size: 1.7rem;
  background-color: #FFF;
  padding: 1rem;
}
@media (max-width: 767px) {
  .form__control {
    height: 5rem;
    font-size: 1.6rem;
  }
}
.form__message {
  height: 30rem;
  padding: 1rem;
  display: block;
}
.form__button {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.form__submit {
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--font-bg);
  border: 1px solid var(--font-bg);
  font-size: 2.5rem;
  line-height: calc(33 / 25);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s;
}
@media (max-width: 767px) {
  .form__submit {
    width: 33.5rem;
    height: 4.1rem;
    font-size: 2rem;
    line-height: calc(33 / 20);
  }
}
.form__submit:hover {
  opacity: 0.7;
  background-color: #FFF;
  color: var(--font-bg);
}

/* footer */
.footer {
  background-color: var(--color-main);
}
.footer__inner {
  padding: 6.6rem 17.1rem 7rem 17.2rem;
}
@media (max-width: 767px) {
  .footer__inner {
    padding: 4.5rem 2rem 5rem;
  }
}
@media (max-width: 964px) {
  .footer__contents {
    flex-direction: column;
    column-gap: 2rem;
  }
}
.footer__contents-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.4rem;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer__contents-list {
    column-gap: 2rem;
  }
}
.footer__contents-link {
  color: #FFF;
  font-size: 2rem;
  line-height: calc(33 / 20);
  transition: opacity 0.4s;
}
@media (max-width: 767px) {
  .footer__contents-link {
    font-size: 1.8rem;
    line-height: calc(33 / 18);
  }
}
.footer__contents-link:hover {
  opacity: 0.7;
}
.copyright {
  color: #FFF;
  border-top: 1px solid #FFF;
  text-align: center;
  font-size: 2rem;
  line-height: calc(33 / 20);
  padding-top: 2.6rem;
  margin-top: 2.1rem;
  max-width: 73.7rem;
  margin-inline: auto;
}
@media (max-width: 767px) {
  .copyright {
    font-size: 1.6rem;
    line-height: calc(33 / 16);
    padding-top: 1.4rem;
    margin-top: 2rem;
  }
}
.copyright span {
  display: inline-block;
  max-width: 108rem;
}
.sns {
  display: flex;
  justify-content: center;
  column-gap: 1.2rem;
  align-items: center;
  padding-top: 0.8rem;
}
@media (max-width: 767px) {
  .sns {
    padding-top: 2.8rem;
  }
}
.sns a {
  transition: opacity 0.4s;
}
.sns a:hover {
  opacity: 0.7;
}
